.side
  .side-header
    .side-header__name
      %p alex
    .side-header__icons
      %i.fa.fa-pencil-square-o
      %i.fa.fa-cog
  .side-groups
    = render "side-groups"
.main
  - if params[:group_id] != nil
    .main-header.clearfix
      = render "main-header"
    .main-body
      = render "main-body"
    .main-footer.clearfix
      = render "main-footer"
