%header
  %p チャットグループが作成されました。
.layout-notification
  .chat
    .chat-side
      .chat-user.clearfix
        %h5 alex
        .chat-user__actions
      %ul.chat-groups
        %li.chat-group
          %a.chat-group__link
            %p.chat-group__name test_group
            %p.chat-group__message
    .chat-main
      .chat-header.clearfix
        .chat-header--left
        .chat-header--right
      .chat-body
        %ul.chat-messages
          %li.chat-message
            .chat-message__header.clearfix
              %p.chat-message__name alex
              %p.chat-message__time 2017/01/06 12:34:56
            %p.chat-message__body yay!
      .chat-footer
        %form#new_message
          %input
          %input
          #chat-footer__body
            %textarea#message_body
            %label.chat-footer__file
              %input#message_image
              %i.fa.fa-image
            %input{type: "submit", name: "commit", value: "Send"}



