.side
  .side-header
    .side-header__name
      %p alex
    .side-header__icons
      %i.fa.fa-pencil-square-o
      %i.fa.fa-cog
  .side-groups
    %ul
      %li.side-group
        %p.side-group__name test_group_1
        %p.side-group__chat foo
      %li.side-group
        %p.side-group__name test_group_2
        %p.side-group__chat bar
.main
  - if params[:group_id] != nil
    .main-header.clearfix
      = render "main-header"
    .main-body
      = render "main-body"
    .main-footer.clearfix
      = render "main-footer"
