.side
  .side-header
    .side-header__name
      %p alex
    .side-header__icons
      %i.fa.fa-pencil-square-o
      %i.fa.fa-cog
  .side-groups
    %ul
      %li.side-group
        %p.side-group__name test_group_1
        %p.side-group__chat foo
      %li.side-group
        %p.side-group__name test_group_2
        %p.side-group__chat bar
.main
  .main-header.clearfix
    %h1.main-header__name test_group_1
    %p.main-header__members Members : alex
    %a.main-header__button--edit{href: "#"} Edit
  .main-body
    = render "main-body"
  .main-footer.clearfix
    .main-footer__form-chat
      = form_for @message, url: {action: :create} do |f|
        = f.text_field :body, placeholder: "type a message", class: "main-footer__input"
        = f.submit "Send", class: "main-footer__button--send"
    .main-footer__icon
      %i.fa.fa-image
